# OS
.DS_Store

# Python
__pycache__/
*.pyc
.venv/
.env
backend/.env

# Conda
.conda/
conda-meta/

# Node
node_modules/
.next/
dist/

# Logs
*.log

# VS Code
.vscode/

# Local storage (uploads)
storage/